
    <% include ./partials/header %>

   <section id='album-form' class="container">
      <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <form class="form-horizontal" method="POST" action="/api/albums">
          <fieldset>

            <!-- Form Name -->
            <legend>Add New Album</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Album Name</label>
              <div class="col-md-4">
              <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="artistName">Artist Name</label>
              <div class="col-md-4">
              <input id="textinput" name="artistName" type="text" placeholder="" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="releaseDate">Release Date</label>
              <div class="col-md-4">
              <input id="releaseDate" name="releaseDate" type="text" placeholder="1992" class="form-control input-md">

              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="genres">Genres (separated by commas)</label>
              <div class="col-md-4">
                <textarea class="form-control" id="genres" name="genres">rock, pop</textarea>
              </div>
            </div>


            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton">Save Album</label>
              <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      </div>
    </section>


    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Albums</h2>
        </div>
      </div>

    <% for (var i = 0; i < albums.length; i++) { %>

      <!-- albums! -->
      <div id='albums'>


         <!-- one album -->
          <div class="row album">

            <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-default">
                <div class="panel-body">


                <!-- begin album internal row -->
                  <div class='row'>
                    <div class="col-md-3 col-xs-12 thumbnail album-art">
                      <img src="http://placehold.it/800x800" alt="album image">
                    </div>

                    <div class="col-md-9 col-xs-12">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <h4 class='inline-header'>Album Name:</h4>
                          <span class='album-name'><%= albums[i].name  %></span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Artist Name:</h4>
                          <span class='artist-name'><%= albums[i].artistName %></span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Released date:</h4>
                          <span class='album-releaseDate'><%= albums[i].releaseDate %></span>
                        </li>
                      </ul>
                    </div>

                  </div>
                  <!-- end of album internal row -->

                  <div class='panel-footer'>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- end one album -->
      <% } %>
      </div>


    </section>
<% include ./partials/modal %>
<% include ./partials/footer %>